version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: org.springframework.boot:spring-boot-starter-parent
    versions:
    - 2.4.2
    - 2.4.3
    - 2.4.4
  - dependency-name: org.springdoc:springdoc-openapi-ui
    versions:
    - 1.5.2
    - 1.5.3
    - 1.5.4
  - dependency-name: org.springframework.security.oauth.boot:spring-security-oauth2-autoconfigure
    versions:
    - 2.4.1
