<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="gov" level="TRACE"/>
  	<Logger name="org.mybatis" level="DEBUG"/>
  	<Logger name="org.apache.ibatis" level="DEBUG"/>
  	<Logger name="java.sql" level="DEBUG"/>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>


<!-- 
  	<Logger name="org.mybatis" level="INFO"/>
  	<Logger name="org.apache.ibatis" level="INFO"/>

log4j.rootLogger=INFO, file, stdout

log4j.logger.gov=TRACE
log4j.logger.org.mybatis=DEBUG
log4j.logger.org.apache.ibatis=DEBUG

# Direct log messages to a log file
log4j.appender.file=org.apache.log4j.RollingFileAppender
log4j.appender.file.File=${log}/wqpgateway.log
log4j.appender.file.MaxFileSize=1MB
log4j.appender.file.MaxBackupIndex=1
log4j.appender.file.layout=org.apache.log4j.PatternLayout
log4j.appender.file.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n
 
# Direct log messages to stdout
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.Target=System.out
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n
 -->
