<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="logMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into web_service_log (origin, call_type, endpoint, post_data, user_agent)
        values (#{origin,jdbcType=CHAR},
                #{callType,jdbcType=CHAR},
                #{endpoint,jdbcType=CHAR},
                #{postData,jdbcType=CHAR}::json,
                #{userAgent,jdbcType=CHAR})
    </insert>

    <select id="head">
        update web_service_log
           set head_sent_utc = now() at time zone 'UTC',
               total_rows_expected = #{totalRowsExpected}::int,
               data_store_counts = #{dataStoreCounts}::jsonb
         where web_service_log_id = #{id}::int
    </select>

    <select id="firstRow">
        update web_service_log
           set first_row_sent_utc = now() at time zone 'UTC'
         where web_service_log_id = #{id}::int
    </select>

    <select id="complete">
        update web_service_log
           set request_completed_utc = now() at time zone 'UTC',
               http_status_code = #{httpStatusCode},
               download_details = #{downloadDetails}::jsonb
         where web_service_log_id = #{id}::int
    </select>

</mapper>
