<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- Global configuration settings for the mapping.-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    
    <typeAliases>
    	
        <typeAlias alias="LinkedHashMap"    type="java.util.LinkedHashMap"/>
        <typeAlias alias="ExportMapHandler" type="gov.usgs.cida.wqp.station.ExportMapHandler"/>
        <typeAlias alias="SimpleStation"    type="gov.usgs.cida.wqp.station.SimpleStation"/>
        <typeAlias alias="Station"          type="gov.usgs.cida.wqp.station.Station"/>
    </typeAliases>
    
   <typeHandlers>
       <typeHandler handler="ExportMapHandler"
                    javaType="Station"
                    jdbcType="VARCHAR"/>
   </typeHandlers>
   
   <mappers>
        <mapper resource="mybatis/logMapper.xml"/>
        <mapper resource="mybatis/dataMapper.xml"/>
    </mappers>
    
</configuration>
