<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="gov" level="TRACE"/>
  	<Logger name="org.springframework" level="INFO"/>
  	<Logger name="org.dbunit" level="INFO"/>
  	<Logger name="org.mybatis" level="DEBUG"/>
  	<Logger name="org.apache.ibatis" level="DEBUG"/>
  	<Logger name="java.sql" level="DEBUG"/>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
